
<body id="home">
	<div id="nav">
		<a id="home" href="#">Home</a>
		<a id="about" href="#aboutpage">About</a>
		<a id="profile" href="#profilepage">Profile</a>
		<a id="contact" href="#contactpage">Contact</a>
	</div>

	<br><br><br><br><br>
	<div id="heading">
		TravelR
	</div>

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<%= form_tag("/choose", method: "get") do %>
	<%= text_field_tag(:origin) %>
	<%= text_field_tag(:destination) %>
	<%= text_field_tag(:startdate) %>
	<%= text_field_tag(:enddate) %>
	<%= submit_tag("Go!") %>
	<% end %>

</body>
