
	<body id="home" ng-app="homePage">
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc3jbHCRxEaq_SDfbkwpWIjOMNjWVjnk4&libraries=places"></script>
		<script type="text/javascript">autoload();</script>
		<div id="nav">
			<a id="home" href="#">Home</a>
			<a id="about" href="#aboutpage">About</a>
			<a id="profile" href="#profilepage">Profile</a>
			<a id="contact" href="#contactpage">Contact</a>
		</div>

	<br><br><br><br><br>
	<div id="heading">
		Travllr
	</div>
	<div ng-controller="mainController">
		<div class="contents" ng-show="page==0">
			<%= text_field_tag :origin, nil, class: 'location-input', 'ng-value': 'data.location.start' %>
			<%= text_field_tag :origin, nil, class: 'location-input', 'ng-value': 'data.location.end' %>
		</div>
	</div>
	<%= form_tag("/choose", method: "get") do %>
	<%= text_field_tag :origin, nil, class: 'location-input', 'ng-value': "test" %>
	<%= text_field_tag(:destination, nil, class: 'location-input') %>
	<%= text_field_tag(:startdate) %>
	<%= text_field_tag(:enddate) %>
	<%= submit_tag 'Go!', id: 'submit-button' %>
	<% end %>

</body>
